@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


$light-grey :#D6D5C9;
$sage : #FF715B;
$dark : #0A100D;
$red : #523F38;


*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}


section{
    width: 100%;
    height: 100vh;
    
    padding: 3rem;
    background-color: $light-grey;

    .title{
        width: 180px; // to be changed for mobile to -> width: auto;
        color: white;
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
        padding: 10px;
        padding-bottom: 35px;
        background-color: $red;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);

        .tip{
            font-size: 4rem;
        }

    }




    .container{
        background-color: white;
        border-radius: 15px;
        margin: 5% auto;
        padding: 2%;
        width: 900px;
        display: flex;
        gap: 5%;

        .inputs {
           width: 100%;
            label{
                color: $sage;
                font-weight:700 ;
            }


            .input-container{
                position: relative;
                .icon{
                    position: absolute;
                    padding: 5.5%;
                }
            }




            .input{
                margin-top:2% ;
                width: 100% ;
                padding: .8rem 1rem;
                direction: rtl;
                border-radius: 10px;
                border: transparent;
                background-color: $light-grey;
                color: $sage;
                font-weight: 700;
                font-size: 1rem;
                outline: none;

            }

    
            .tip-percentage-container{
                display: flex;
                justify-content: space-between;
                gap: 10px;
                align-items: center;
                margin: 5% 0 ;
                
                .tip-percentage{
                    background-color: $red;
                    text-align: center;
                    vertical-align: middle;
                    width: 8rem;
                    line-height: 3rem;
                    border-radius: 5px;
                    font-weight: 700;
                    font-size: 1.2rem;
                    color: white;
                    

                    &:hover{
                        background-color: $dark;
                        cursor: pointer;
                    }

                    

                    &.custom{
                        color: $sage;
                        background-color: transparent;
                        border: 1px solid $sage;
                        position: relative;
                        
                        .customInput{
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            line-height: 3rem;
                            border: none;
                            direction: rtl;
                            padding: 0 1rem;
                            border-radius: 5px;
                            color: $sage;
                            font-weight: 700;
                            font-size: 1.2rem;
                        }
                    }

                    
                }
            }
        }

        .results{
            position: relative;
            width: 100%;
            background-color: $red;
            border-radius: 10px;
            padding: 2rem;
            color: white;

            .price{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8%;

                h3{
                    font-size: 1em;
                    font-weight: 700;
                    .per-person{
                        font-size: .8em;
                        font-weight: 400;
                        color: $sage;

                    }
                }

                h1{
                    font-size: 3rem;
                    color: $sage;

                    &::before{
                        content: '$';     
                    }

                }
            }


            .btn-container{
                position: relative;
                height: 40%;
                button{
                    position: absolute;
                    bottom: 0;
                    line-height: 3rem;
                    text-align: center;
                    color: white;
                    font-size: 1.1rem;
                    font-weight: 700;
                    width: 100%;
                    background-color: white;
                    background-color: $sage;
                    border: transparent;
                    border-radius: 5px;
                    
                }
            }

        }

    }

}